/*Обнуление*/
*{padding: 0;margin: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;font-family: 'Montserrat', sans-serif;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	font-family: 'Open Sans', sans-serif;

	
}

img{
	max-width: 100%;
}

.container{
	width: 100%;
	padding: 0 15px;
	max-width: 1350px;
	margin: 0 auto;
}

.smcontainer{
	width: 100%;
	padding: 0 15px;
	max-width: 1250px;
	margin: 0 auto;
}


.wr{
	background:#23908c;
}

.tt{
	display: flex;
	justify-content: space-between;
}

.top1{
	display: flex;
	align-items: center;
	height: 30px;
	background:#23908c;
}
.top2{
	display: flex;
	align-items: center;
	height: 30px;
	background:#1c7e8c;
}

.top3{
	display: flex;
	height: 30px;
	align-items: center;
	background: #d32d67;
}


.top1_inner{
	display: flex;

}


.nav_link{
	color: #fff;
	font-weight: 800;
	font-size: 11px;
	padding: 5px;
	transition: .4s linear;
}

.nav_link:hover{
	background-color: gray;
}





.icons{
	align-items: center;
	display: flex;
}
.icons_title{
	font-weight: 800;
	color: #fff;
	font-size: 9px;
	padding-left: 5px;
}

.whs{
	font-weight: 800;
	color: #fff;
	font-size: 9px;
	
}

.fa-dollar-sign{
	color:#3fc4bf;
	padding-right: 3px;
}

.fa-chevron-down{
	font-size: 10px;
	color:#3fc4bf;
	padding-left: 3px;
}

.icon_inner{
	display: flex;
	padding: 0 25px;
	align-items: center;
}

.fa-shopping-basket{
	color:#3fc4bf;
}

.fa-book-reader{
	color:#3fc4bf;
}

.fa-heart{
	color: #fff;
}





.ww2{
	height: 120px;

}

.tt2{
	display: flex;
}

.tt2_inner{
	display: flex;
	align-items: center;
	padding: 12px 0;
}

.logo{
	margin-right: 150px;
}

.search-container{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}



.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

.del{
	margin-left: 200px;
}

.dell{
	text-align: center;
}

.del_text{
	color: #000;
	font-weight: 800;
	font-size: 20px;
}

.del_link{
	color: #0074c3;
}



.tt3{
	padding-top: 10px;
	display: flex;
}

.tt3_links{
	display: flex;
	align-items: center;
}

.tt3_link{
	font-size: 17px;
	color:#5a6473;
	font-weight: 500;
}

.fa-angle-down{
	color:#5a6473;
	padding-left: 2px;
	padding-right: 25px;
}



.ww3{
	background: #f1f1f1;
	height: 40px;

	box-shadow:inset 0px 4px 10px #cccccc;
}

.ww3_inner{
	padding-top: 15px;
	display: flex;
	justify-content:space-between;
}

.shop{
	display: flex;
}

.fa-home{
	color: #23908c;
	font-size: 12px;
}

.sh_title{
	font-size: 13px;
	color:#23908c;
	margin-left: 5px;
}

.share{
display: flex;
align-items: center;
}

.sh{
	margin: 0 5px;
}

.share_text{
	font-size: 10px;
	color:#000;
}

.fa-envelope{
	color:#23908c;
}
.fa-facebook{
	color:#23908c;
}
.fa-twitter{
	color:#23908c;
}


.fa-angle-right{
color: #23908c;
padding-left: 5px;

}


.wrap{
  height: 100%;
  margin: 0 20px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 120px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: #f1f1f1;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ccc;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(120px + 12px);
  min-height: calc(20px + 12px);
  box-shadow: 0 0 60px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}



button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

.main_text{
	padding-top: 12px;
	font-size: 17px;
}


.main_block{
	display: flex;
	flex-wrap: wrap;
}




.books{
	padding: 50px 0;
}

.books_inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.books_item{
	margin-bottom: 20px;
	width: 190px;
	position: relative;
	height: 360px;
	border: 3px solid #f1f1f1;
	transition: .3s linear;
}

.books_item:hover .books_img{
	width: 195px;
}

.books_item:hover{
	width: 200px;	
}

.books_item:hover .books_cl{
	width: 148px;
}


.books_img{
	width: 187px;
	transition: .3s linear;
	margin-bottom: 20px;
	
}


.books_block{
	max-width: 160px;
	margin: 0 auto;
}

.books_title{
	color: #23908c;
	font-size: 19px;
	font-weight: 800;
}

.book_data{
	margin-top: 5px;
	margin-bottom: 25px;
	color: #cccccc;
}

.books_cl{
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 140px;
	height: 20px;
	text-align: center;
	font-size: 11px;
	color: gray;
	padding-top: 5px;
	border-radius: 15px; 
	position: absolute;
	top: 10px;
	left: 25px;
	transition: .3s linear;
}


.book_btn{

	padding: 7px;
	background:#23908c;
	border-radius: 15px;
	color: #fff;
	font-size: 14px;
}




.footer{
	background:#f0f0f0;
}

.f1{
	padding-top: 25px;
	margin-bottom: 30px;
}


.f1_inner{
	display: flex;
	justify-content: space-between;
}

.f1_text{
	font-size: 15px;
	color: rgb(124, 124, 124);
}

.f1_sign{
	color: #23908c;
	font-size: 18px;
}




.f2_inner{
	display: flex;
	justify-content: space-between;
}

.f2_title{
	color: rgb(124, 124, 124);
	font-size: 20px;
	margin-bottom: 20px;
}

.f2_item_title{
	font-size: 12px;
	font-weight: 800;
	margin-bottom: 20px;
	color: rgb(124, 124, 124);
}

.f2_item_sub{

	margin-bottom: 10px;
	color: rgb(124, 124, 124);
}


.f2_inp{
	width: 310px;
	height: 30px;
	margin-bottom: 20px;
}

.check{
	padding-left: 10px;
	font-size: 17px;
	color: rgb(124, 124, 124);
}



.box_1{
	margin-bottom: 15px;
	background: #eee;
	display: flex;
}

input[type="checkbox"].switch_1{
	font-size: 15px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }




nav ul {
	cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding-left: 35px;
}

nav ul li {
    --c: goldenrod;
    color: black;
    font-size: 16px;
    border: 0.3em solid #1d7673;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #1d7673;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}



.f2_fin{
	line-height: 20px;
	font-size: 12px;
	color: rgb(124, 124, 124);

}

.f3_title{
	margin-bottom: 10px;
}

.fin_l{
	color: #0074c3;
}

.fa-pinterest{
	color: #23908c;
}


.fa-instagram{
color: #23908c;
}

.fa-google-plus{
color: #23908c;
}


.f4{
	margin-top: 50px;
	font-size: 11px;
	padding-bottom: 20px;
	color: rgb(124, 124, 124);
}

@media (max-width: 1199px){

	.info_title {
    font-size: 12px;
    line-height: 23px;
}

.del_text {
    color: #000;
    font-weight: 800;
    font-size: 14px;
}

.search-container{
	width: 300px;
}

}

@media (max-width: 992px){
	.tt {
    display: flex;
    justify-content: center;}

    .del{
    	display: none;
    }

    .tt3_link {
    font-size: 14px;
	
	}
	.info_text {
    flex-wrap: wrap;
}

.info_item {
    background: #f0f0f0;
    padding: 30px 20px;
}

.f1{
	display: none;
}

.f2_title {
    padding-top: 30px;
    font-size: 18px;
}

.f2_inner{
	flex-wrap: wrap;
}

.main_block{
	justify-content: center;
}



}

@media (max-width: 767px){

	.tt{
		flex-wrap: wrap;
	}
	.ww2{
		height: 103px;
	}
	.tt3_link {
    font-size: 10px;
}

.s_title {
	text-align: center;
	margin-bottom: 15px;
}

	.info_item {
    padding: 16px 8px;
}
.info_title {
    font-size: 11px;
}

.f2_item_sub{
	font-size: 10px;
}
.f2_inp {
    width: 292px;
}
.check {
    padding-left: 10px;
    font-size: 13px;
}

nav ul li{
	width: 9em;
}

.info_inner{
	padding-left: 130px;
	display: block;
}

.info_item{
	width: 300px;
	margin-bottom: 10px;
}


.wrap{
	margin: 0 7px;
}

.main_text {
    padding-bottom: 10px;
    text-align: center;}

.main_block{
	display: block;
}

.books_item{
	margin: 0 auto;
}

}


@media (max-width: 576px){
	.icons{
		display: none;
	}

	.search-container{
		display: none;
	}
	.tt3 {
    padding-top: 0px;
}
.tt3_links{
    flex-wrap: wrap;
}


.info_inner {
    padding-left: 23px;
}
.f2_item_sub {
    font-size: 8px;
}

nav ul li {
    width: 9em;
    font-size: 11px;
}

.f2_fin{
	font-size: 11px;
}

.f3_title{
	font-size: 11px;
}

.info_item {
    width: 200px
}


}